<div class="h-full w-full text-slate-900 flex items-center justify-center">
    <div class="w-full h-full flex gap-1.5 lg:gap-3 flex-col items-center justify-center">
        <div class="text-3xl lg:text-6xl font-mono uppercase font-black text-purple-100 mb-10 animate-bounce">🫧 Bubble
            Pop 🫧</div>
        <button (click)="onNewMatch()"
            class="w-full lg:text-2xl uppercase font-black bg-purple-300 hover:translate-y-0.5 active:translate-y-1 active:bg-purple-200 transition p-4 cursor-pointer">
            👾 New Game 👾
        </button>
        <!-- <button
            class="w-full lg:text-2xl uppercase font-black bg-cyan-300 hover:translate-y-0.5 active:translate-y-1 active:bg-cyan-200 transition p-4 cursor-pointer">
            🤖 Play against AI 🤖
        </button> -->
        <a href="https://github.com/dimeskigj/bubbles" target="_blank"
            class="w-full lg:text-2xl uppercase text-center font-black bg-amber-300 hover:translate-y-0.5 active:translate-y-1 active:bg-amber-200 transition p-4 cursor-pointer">
            🔗 Source Code 🔗
        </a>
        <div class="h-40"></div>
    </div>
</div>